venv/
.env
.env.db
db.sqlite3
*.sqlite3

__pycache__/
*.py[cod]
*$py.class

media/
staticfiles/

*.idea/
*.vscode/

device_control_pg_data
.DS_Store
Thumbs.db

# test file.txt
file.txt

artifacts/

*.zip
Logo.png
Logo_DdhiUeM.png